.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.modal-btn {
  color: #e74944;
  position: absolute;
  bottom: 1.5rem;
  left: 3rem;
  margin: 0.6rem;
}
@media only screen and (max-width: 600px) {
  .modal-btn {
    width: 70%;
    position: absolute;
    bottom: 4.5rem;
    left: 12%;
    margin: 0.6rem;
  }
}