.col-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-child {
  width: 20vw;
  height: 500px;
  text-align:center;
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: solid #80808054 1px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .flex-child {
    width: 40vw;
    height: max-content
  }
}