.book-result-img {
  display: block;
  max-width: 90%;
  min-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.img-container {
  height: max-content;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .img-container {
    height: max-content;
    margin-bottom: 1rem;
  }
}